@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans";
    margin: 0px;
    padding: 0px;
}

.header_picture {
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, top left;
    background-size: 45% auto, 100px 550px;
    /* border: 2px solid black; */
    border-collapse: collapse;
    background-color: rgb(255, 248, 243);
}
.banner_picture{
    margin-bottom: -18px;
}
.navigration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 150px 0px;
    border-collapse: collapse;
    padding: 0px;

}

.nav_tittle {
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 800;
    text-align: left;
}

.navigration ul li {
    list-style: none;
    margin: 0px 20px;
}

.navigration li a {
    text-decoration: none;
    color: black;
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.navigration li a:hover {
    background-color: rgb(227, 227, 227);
    padding: 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.navigration ul {
    display: flex;
    align-items: center;
}

.btn {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* padding: 0px 12px; */
    background-color: #FD6E0A;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    border: 1px solid orangered;
    color: orangered;
}
.banner_h4 {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 38px;
    font-weight: 600;
    padding: 5px;
}

.banner_h1 {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 75px;
    font-weight: 700;
    padding-bottom: 20px;
}

.banner_p {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 45px;
}

.banner_picture {
    width: 584px;
    height: 586px;
    border-collapse: collapse;
}

.banner_content {
    max-width: 500px;
    margin: 1px 0px 1px 0px;
    border-collapse: collapse;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 150px;
}

.btn_contact {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ffffff;
    color: #FD6E0A;
    padding: 10px 28px;
    font-size: 20px;
    border: none;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 35px;
    cursor: pointer;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section start from here */
.about_context {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    box-shadow: 4px 6px 10px rgb(197, 197, 196);
}

.about_padding {
    /* padding: 80px  70px; */
    background-color: #ffffff;
    border: 1px solid rgb(117, 117, 117);
    padding: 0px 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about_tittle {
    margin-bottom: 30px;
}

.about_text {
    color: rgb(117, 117, 117);
    margin-bottom: 30px;
}

.item_description {
    font-weight: 600;
}

#about_items1 {
    display: flex;
    /* border: 20px solid black; */
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(117, 117, 117);
}

/* section 2 style start from here  */

.section2 {
    margin: 130px 50px;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
}

.section2 h1 {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.section2 p {
    margin-bottom: 50px;
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.section2 .card {
    display: flex;

}

.card_details:hover {
    background-color: rgb(217, 249, 249);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card_details {
    margin: 0px 5px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgb(216, 212, 212);
}

.card_details img {
    padding-top: 5px;
    padding-left: 5px;
}

.card_details h4 {
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.card_details p {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}

/* section3 css part start from here  */

.section3 {
    margin-bottom: 113px;
    margin: 0px 70px 113px 70px;
}

.section3 h1 {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.details {
    display: flex;
}

.details>div {
    margin-top: 80px;
    margin-right: 71px;
}

.details div h1 {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

.info h3 {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;

}

.info p {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 5px;
    margin-bottom: 10px;
}
footer{
    background: rgb(255, 248, 243);
}
.footer{
    margin: 120px 150px;
}
.footer {
    display: flex;
}

.footer h1{
margin-top: 130px;
margin-bottom: 30px;
color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.footer p{
color: rgb(71, 71, 71);
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
padding-right: 117px;
padding-top: 20px;
padding-bottom: 23px;
}
.footer img {
    display: inline;
    margin-right:15px ;
}

/* responsice display create here from */

.hide{
    display: none;
}


/* create website responcive more  */
@media screen and (max-width:576px) {
    .section2 .card 
    ,.banner 
    ,.details 
    ,.footer 
    ,.navigration
    {
        flex-direction: column;
        margin-bottom: 5px;
    }
    #about_items1{
        flex-direction: column;
    }
    .header_picture{
        background-image: none;
    }
    .banner{
        margin: 20px;
    }
    .banner_picture{
        width: 100%;
        height: 100%;
    }
    .btn_contact{
        margin-top: 10px;
    }
    .section3{
        margin: 0px 10px 0px 10px;
    }
    /* .btn{
        margin-top: 10px;
    } */
    .footer ,.navigration ,.about_context{
        margin: 5px;
    }
    .about_context ,.about_padding{
        padding: 5px;
    }
    .about_context{
        margin-top: 20px;
    }
}